<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('pizzas-list')}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas-list')}"></nav>
<div class="container mt-5">
    <h1>Pizza List</h1>
    <div th:if="${pizzaList.size() > 0}">
        <table class="table mb-4 table-dark table-hover">
            <thead class="">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Immagine</th>
                <th scope="col">Prezzo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
                <td th:text="*{nome}"></td>
                <td th:text="*{descrizione}"></td>
                <td>
                    <img th:src="*{urlImage}" alt="">
                </td>
                <td th:text="*{prezzo}"></td>
            </tr>
            </tbody>
        </table>
    
    </div>
    <div th:unless="${pizzaList.size() > 0}">No results</div>
</div>

</body>
</html>