<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('pizzas-list')}"></head>

<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas')}"></nav>
<div class="container" th:object="${pizza}">
    <div th:replace="fragments/components :: message"></div>
    <div class="row">
        <div class="mt-5">
            <a th:href="@{/pizzas}" class="btn btn-primary">Torna alla lista</a>
        </div>
        <div class="col-8 text-center">
            
            <h1 th:text="*{nome}"></h1>
            <hr>
            <dl>
                <dt>Descrizione</dt>
                <dd th:text="*{descrizione}"></dd>
                <dt>Immagine</dt>
                <dd>
                    <img th:src="*{urlImage}" alt="" th:alt="*{nome}">
                </dd>
                <dt>Prezzo</dt>
                <dd th:text="*{prezzo} + ' €'"></dd>
                <dt>Aggiunta al catalogo</dt>
                <dd th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy')}"></dd>
            </dl>
            
            
            <!--        <h1 th:text="*{nome}"></h1>-->
            <!--        <hr>-->
            <!--        <dl>-->
            <!--            <dt>Descrizione</dt>-->
            <!--            <dd th:text="*{descrizione}"></dd>-->
            <!--            <dt>Immagine</dt>-->
            <!--            <dd>-->
            <!--                <img th:src="*{urlImage}" alt="" th:alt="*{nome}">-->
            <!--            </dd>-->
            <!--            <dt>Prezzo</dt>-->
            <!--            <dd th:text="*{prezzo} + ' €'"></dd>-->
            <!--            <dt>Aggiunta al catalogo</dt>-->
            <!--            <dd th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy')}"></dd>-->
            <!--        </dl>-->
            <!--        <div class="mt-2">-->
            <!--            <a th:href="@{/pizzas}" class="btn btn-primary">Torna alla lista</a>-->
            <!--        </div>-->
        
        
        </div>
        <div class="col-4">
            <h1>Ingredienti</h1>
            <hr>
            
            <ul th:if="*{ingredients.size() > 0}">
                <li th:each="ingredient : *{ingredients}" th:text="${ingredient.nome}"></li>
            </ul>
            <div th:unless="*{ingredients.size() > 0}" class="alert alert-info">La lista è vuota</div>
        </div>
        <!--    <div class="col-4">-->
        <!--        <h3>Categories</h3>-->
        <!--        <ul th:if="*{categories.size() > 0}">-->
        <!--            <li th:each="categoryObj : *{categories}" th:text="${categoryObj.name}"></li>-->
        <!--        </ul>-->
        <!--        <div th:unless="*{categories.size() > 0}" class="alert alert-info">The list is empty</div>-->
        <!--    </div>-->
    </div>
    
    <section>
        <h2>Offerte Speciali
            <a th:href="@{/offerte/create(pizzaId=*{id})}" class="btn btn-primary">
                Aggiungi Offerta Speciale
            </a>
        </h2>
        
        <table class="table">
            <thead>
            <tr>
                <th>Data di Inizio</th>
                <th>Data di Fine</th>
                <th>Titolo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offerta : *{OffertaSpeciale}" th:object="${offerta}">
                <td th:text="*{dataInizio}"></td>
                <td th:text="*{dataFine}"></td>
                <td th:text="*{titolo}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/offerte/edit/{id}(id=*{id})}"
                       title="Modifica Offerta Speciale">Modifica Offerta Speciale</a>
                </td>
                <td>
                    <form method="POST"
                          th:action="@{/offerte/delete/{id}(id=*{id})}">
                        <button type="submit" class="btn btn-primary color-danger">Elimina</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="*{OffertaSpeciale.size() == 0}" class="alert alert-info">Non ci sono offerte speciali</div>
    </section>
</div>
</body>
</html>