<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('pizzas-list')}"></head>

<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas')}"></nav>
<div class="container" th:object="${pizza}">
    
    
    <h1 th:text="*{nome}"></h1>
    <hr>
    <dl>
        <dt>Descrizione</dt>
        <dd th:text="*{descrizione}"></dd>
        <dt>Immagine</dt>
        <dd>
            <img th:src="*{urlImage}" alt="" th:alt="*{nome}">
        </dd>
        <dt>Prezzo</dt>
        <dd th:text="*{prezzo} + ' €'"></dd>
        <dt>Aggiunta al catalogo</dt>
        <dd th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy')}"></dd>
    </dl>
    <div class="mt-2">
        <a th:href="@{/pizzas}" class="btn btn-primary">Torna alla lista</a>
    </div>
    <section>
        <h2>Offerte Speciali
            <a th:href="@{/offerte/create(pizzaId=*{id})}" class="btn btn-primary">
                Aggiungi Offerta Speciale
            </a>
        </h2>
        
        <table class="table">
            <thead>
            <tr>
                <th>Data di Inizio</th>
                <th>Data di Fine</th>
                <th>Titolo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offerta : *{OffertaSpeciale}" th:object="${offerta}">
                <td th:text="*{#temporals.format(offerta.dataInizio, 'dd-MM-yyyy')}"></td>
                <td th:text="*{#temporals.format(offerta.dataFine, 'dd-MM-yyyy')}"></td>
                <td th:text="*{offerta.titolo}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{offerte/edit/{id}(id=*{id})}"
                       title="Modifica Offerta Speciale">Modifica Offerta Speciale</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="*{OffertaSpeciale.size() == 0}" class="alert alert-info">Non ci sono offerte speciali</div>
    </section>
</div>
</body>
</html>