<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('pizzas-edit')}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas-edit')}"></nav>
<div class="container mt-4">
    <h2>Modifica Pizza</h2>
    <form th:action="@{/pizzas/edit/{id}(id=${pizza.id})}" th:object="${pizza}" method="POST" class="w-25 m-auto">
        
        <!-- Campo per il nome -->
        <div class="mb-3" th:insert="/fragments/components :: formField('text', 'Nome', 'nome')">
        </div>
        
        
        <!-- Campo per la descrizione -->
        <div class="mb-3" th:insert="/fragments/components :: formField('text', 'Descrizione', 'descrizione')">
            <!--            <label for="descrizione" class="form-label">Descrizione</label>-->
            <!--            <textarea class="form-control" id="descrizione" th:field="*{descrizione}"-->
            <!--                      placeholder="Inserisci la descrizione della pizza"></textarea>-->
        </div>
        
        <!-- Campo per l'URL dell'immagine -->
        <div class="mb-3" th:insert="/fragments/components :: formField('text', 'UrlImage', 'urlImage')">
            <!--            <label for="urlImage" class="form-label">URL Immagine</label>-->
            <!--            <input type="text" class="form-control" id="urlImage" th:field="*{urlImage}"-->
            <!--                   placeholder="Inserisci l'URL dell'immagine">-->
        </div>
        
        <!-- Campo per il prezzo -->
        <div class="mb-3" th:insert="/fragments/components :: formField('number', 'Prezzo', 'prezzo')">
            <!--            <label for="prezzo" class="form-label">Prezzo</label>-->
            <!--            <input type="number" class="form-control" id="prezzo" th:field="*{prezzo}"-->
            <!--                   placeholder="Inserisci il prezzo">-->
        </div>
        
        
        <!-- Pulsanti di azione -->
        <button type="submit" class="btn btn-primary">Salva Modifiche</button>
        <a th:href="@{/pizzas}" class="btn btn-secondary">Annulla</a>
    </form>
</div>

</body>
</html>