        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;

            font-size: 0.9rem;
        }

        body {
            background-color: #f8f9fa;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
            color: red;
        }

        .table {
            margin: auto;
            width: 80%;
            background-color: #fff;
            box-shadow: 0 6px 10px rgba(0,0,0,.1);
        }

        th {
            color:  #0080ff;
        }

        .imgList {
            max-width: 80px;
            height: auto;
            display: block;
            margin: auto;
        }

        .table td, .table th {
            vertical-align: middle;
        }
        i{
        display: block;
            color: white;
            height: 2rem;
            width: 2rem;
        }
        .showDetail{
            color: white;

        }
        /* Nasconde le frecce per gli input di tipo number in Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }